
funcionalidades/__pycache__/__init__.cpython-310.pyc
*.pyc
*.pyc
funcionalidades/__pycache__/__init__.cpython-310.pyc
funcionalidades/__pycache__/buscado.cpython-310.pyc
funcionalidades/__pycache__/estampado_app.cpython-310.pyc
funcionalidades/__pycache__/estampado_app.cpython-310.pyc
funcionalidades/__pycache__/insertar_manual.cpython-310.pyc
funcionalidades/__pycache__/verCausa.cpython-310.pyc
funcionalidades/__pycache__/__init__.cpython-310.pyc
funcionalidades/__pycache__/buscado.cpython-310.pyc
funcionalidades/__pycache__/insertar_excel.cpython-310.pyc
funcionalidades/__pycache__/insertar_manual.cpython-310.pyc
funcionalidades/__pycache__/verCausa.cpython-310.pyc
funcionalidades/__pycache__/estampado_app.cpython-310.pyc
funcionalidades/__pycache__/insertar_excel.cpython-310.pyc
funcionalidades/__pycache__/insertar_manual.cpython-310.pyc
funcionalidades/__pycache__/estampado_app.cpython-310.pyc
funcionalidades/__pycache__/insertar_excel.cpython-310.pyc
funcionalidades/__pycache__/insertar_manual.cpython-310.pyc
